.cardContainer{
 border: 1px solid black;
 border-radius: 3px;
 width: 50%;
 background-color: white;
 color: lightslategray;
 margin: 2%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.poster{
 width: 350px;
 height: 350px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}