.cardContainer{
 border: 1px solid black;
 border-radius: 3px;
 width: 50%;
 background-color: white;
 color: lightslategray;
 margin: 2%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.poster{
 width: 350px;
 height: 350px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.reduceUrl{
 width: 50%;
 overflow: hidden;
 white-space: pre;
 text-overflow: ellipsis;
}

.buttonSubmit{
 background: #2B2D2F;
 height: 40px;
 width: 100px;
 text-align: center;
 color: #FFFF;
 margin: 10px;
 border-radius: 10px;
 font-weight: bold;
 cursor: pointer;
}